<div class="login-wrapper">

  <!-- Fondo animado -->
  <canvas id="login-bg"></canvas>

  <div class="login-container">
    <div class="login-top">
      <div class="lock-icon">
        <img src="assets/images/logo.png" alt="Candado">
      </div>
      <div class="login-header">
        <h2>Bienvenido 👋</h2>
        <p>Accede a tu cuenta ingresando tus credenciales</p>
      </div>
    </div>

    <form (ngSubmit)="login()" class="login-form">
      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Nombre de usuario o correo" 
               [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Contraseña" 
               [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <button mat-raised-button class="login-button" type="submit">
        Ingresar
      </button>
    </form>

    <div class="login-footer">
      <button mat-button class="tertiary-link" routerLink="/landing">
        Volver a la Página Inicial
      </button>
      <div class="signup-prompt">
        <p>¿No tienes cuenta? <a routerLink="/registrarcuenta">Regístrate aquí</a></p>
      </div>
    </div>
  </div>
</div>
